/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   CSS Reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
  End CSS Reset
*/
*{
  border: red 1px;
}
.App{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 3));
  gap:.1rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 1rem;
  color: white;
}

.App-link {
  color: #61dafb;
}
.navbar{
  max-height: 25vh;
  grid-column: 1 / span 3;
  gap: 0;
  width:100%;
  background-color: white;
}
.navbar img{
  width:13rem;
  height:12.5rem;
}
.home-page{
  grid-column: 1;
  grid-row: 2;
  width:100%;
}
.navbar{
  width: 100%;
  position:fixed;
  margin:1em;
  text-shadow: gray 1px 0 5px;
  z-index: 9000;
}
.nav-links{
  display:flex; 
  width:100%;
  margin-top:.2em;
  justify-content: space-evenly;
  text-decoration: none;
  color:black;
  align-items: center;
}
.nav-links a{
  text-decoration: none;
  color: #59e1c7;
}
.item-list{
  display: flex;
  flex-wrap: wrap;
}
.item-list .item-card{
  width:30%;
  margin: 5em 1em;
}
.item-card{
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: #def2f5;
  text-shadow: 1px 1px 3px black;
  background: #111;
  margin: 5em 10em;
  transition: .5s;
  border-radius: 10%;
  

}
.item-card:hover{
  transform: translateY(-10px);
}
.item-card:before{
  content: '';
  position: absolute;
  border-radius: 10%;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: linear-gradient(340deg, #fdff3c, #802b6c);
}
.item-card:after{
  content: '';
  position: absolute;
  border-radius: 10%;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: linear-gradient(180deg,#f519a4, #fdff3c);
  filter: blur(30px)
}
.item-card span{
  position: absolute;
  overflow: hidden;
  top: 4%;
  left: 4%;
  right: 4%;
  bottom: 4%;
  background: rgba(0,0,0,0.4);
  z-index: -2;
  border-radius: 10%;
}

.item-card .content{
  position: relative;
  z-index: 10;
  padding: 20px 40px;
}
.item-card .content h2{
  font-size: 2em;
  color: #def2f5;
  margin-bottom: 10px;
}
.item-card .content p{
  font-size: 1.1em;
  font-family: 'Montserrat';
  color: #def2f5;
  margin-bottom: 10px;
  line-height: 1.4em;
}
.item-card .content a{ 
  display: inline-block;
  font-size: 1.1em;
  color: #def2f5;
  padding: .7em;
  text-shadow: none;
  text-decoration: none;
  font-weight: 700;
  border-radius: 47%;
}
.item-card img{
  border-radius: 10%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
